

.name,.uri{
  padding: 0 40px 0;
}

.border{
  padding:5px;
  overflow: hidden;
}
.profile-field{
  width: 300px;
}
.extension-panel-container{
  margin-top: 80px;
  position: absolute;
  width: 100%;
}