<div  fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="5px" >
 <mat-card class="container">
  <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
    <div fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="5px" >
                <h3>Edit Profile</h3>
                <mat-form-field  fxFlex> 
                <input matInput placeholder="Username" value="" id="username" name="username" [(ngModel)]="user.username"  #username="ngModel" disabled >
                </mat-form-field>
                <mat-form-field  fxFlex> 
                <input matInput placeholder="First Name" value="" id="firstname" name="firstname" [(ngModel)]="user.firstName"  #firstName="ngModel" required >
                </mat-form-field>
                <mat-form-field  fxFlex> 
                <input matInput placeholder="Last Name" value="" id="lastname" name="lastname" [(ngModel)]="user.lastName"  #lastName="ngModel" required >
                </mat-form-field>
                <mat-form-field  fxFlex> 
                <input matInput placeholder="email" type="email" value="" id="email" name="email" [(ngModel)]="user.email"  #email="ngModel" [email]="true" required>
                </mat-form-field>
        <div align="end">
         <button mat-raised-button  type="submit" >Update</button>
           <mat-progress-bar  mode="indeterminate"  *ngIf="submitted"></mat-progress-bar>
         <button mat-raised-button [routerLink]="['/']"  >Cancel</button>  
        </div>
       </div>
       </form>
       </mat-card>
</div>