<div class="container">
  <div class="item item-1" fxLayoutAlign="start start" fxFlex="20%" fxflex>


  </div>
  <div class="item item-2"  fxFlex="80%">
  <md-card>
    <md-card-header>
      <md-card-title><h2>Setting</h2></md-card-title>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="start start" >
          <md-card>
            <h3>Available Repositories</h3>
            <div fxLayout="column" fxLayoutAlign="start start"  *ngFor="let ur of userRepositories"   userRepositories>
                <md-slide-toggle>{{ur.repository}}</md-slide-toggle>
            </div>
          </md-card>
      </div>

  </md-card-content>
</md-card>

  <app-registration-repository></app-registration-repository>

  </div>
</div>
