

<md-card>
  <md-card-header>
    <md-card-title></md-card-title>
  </md-card-header>
<div *ngIf="data.type == 'video'"  class="video-iframe">
<video width="100%" height="250px" autoplay controls>
  <source [src]="data.uri" type="video/mp4">
</video>
</div>
<div *ngIf="data.type == 'image'" >
  <img [src]="data.uri" class="image-card">
</div>
  <md-card-content>
        <span class="label label-primary">Title</span>
        <h5 class="media-heading">{{data.name}}</h5>
        <span>Description</span>
        <h6>{{data.description}}</h6>
        <span>Type</span>
        <h6>{{data.type}}</h6>
        <span>Source</span>
        <h6>{{data.uri}}</h6>
        <span>Date</span>
        <h6>{{getDate(data.date)}}</h6>
  </md-card-content>
   <md-card-actions align="end">
    <button md-button>Send to MCSSR</button>
    <button md-button  [md-dialog-close]="true">Close</button>
  </md-card-actions>
</md-card>