
<md-card>
<form name="form" #f="ngForm" novalidate>
  <md-card-content>
                <h3>Register Repository on User</h3>
            <div  fxLayout="column"  fxLayoutAlign="start" fxLayoutGap="5px">
              <div  *ngIf="!data.userRepository.id" >
               <md-select placeholder="Repository"  id="repository"  [(ngModel)]="data.userRepository.repository" name="repository" required fxflex>
                  <md-option *ngFor="let rep of repositories" [value]="rep.name" fxflex>
                    {{ rep.name }}
                  </md-option>
                </md-select>
              </div> 
              <div  class="repository" *ngIf="data.userRepository.id" >
              <md-form-field  fxFlex> 
                <input mdInput placeholder="repository" value=" " id="repository" name="repository" [(ngModel)]="data.userRepository.repository" disabled>
                </md-form-field>
              </div> 
                <md-form-field  fxFlex> 
                <input mdInput placeholder="username" value=" " id="username" name="username" [(ngModel)]="data.userRepository.username">
                </md-form-field>
                <md-form-field  fxFlex> 
                <input mdInput placeholder="password" value="" id="password" name="password" [(ngModel)]="data.userRepository.password">
                </md-form-field>
                <md-form-field  fxFlex> 
                <input mdInput placeholder="apiKey" value="" id="apiKey" name="apiKey" [(ngModel)]="data.userRepository.apiKey">
                </md-form-field>
                <md-form-field  fxFlex> 
                <input mdInput placeholder="token" value="" id="token" name="token" [(ngModel)]="data.userRepository.token">
                </md-form-field>
            </div>      
  </md-card-content>
   <md-card-actions align="end">
      <button md-button (click)="f.form.valid && upsert(data.userRepository)">OK</button>
      <md-progress-spinner *ngIf="loading" class="spinner" mode="indeterminate"></md-progress-spinner>
      <button md-button (click)="onClose()">Cancel</button>
  </md-card-actions>
    </form>
</md-card>