.add {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.container {
  margin-top: 64px;
}

.spinner {
  height: 36px;
  width: 36px;
}

.name {
  cursor: pointer;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
