<div>

  <smd-fab-speed-dial class="filter"
                      [(open)]="open"
                      [direction]="direction"
                      [animationMode]="animationMode"
                      [fixed]="fixed">

    <smd-fab-trigger [spin]="spin">
      <button mat-fab>
        <mat-icon>apps</mat-icon>
      </button>
    </smd-fab-trigger>

    <smd-fab-actions>
      <button mat-mini-fab matTooltip="Clear history" matTooltipPosition="above"(click)="deleteAll()">
        <mat-icon>delete</mat-icon>
      </button>
    </smd-fab-actions>

  </smd-fab-speed-dial>

  <mat-card fxFlex class="container">

    <h3 class="mat-h3" align="center" *ngIf="nResults == 0">No history available.</h3>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <mat-list *ngFor="let sr of searchResult">
        <mat-list-item matTooltip="Search again.">
          <span class="date">
            {{isoDateToHtmlDate(sr.date)}}
          </span>
          <span class="query" (click)="goToSearchForm(sr)">
            {{sr.freeText}}
          </span>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-card>

</div>
