.container {
  margin: 88px 24px 24px 24px;
  height: 100%;
}

.filter {
  bottom: 40px;
  right: 40px;
  position: fixed;
  z-index: 2;
}

h3 {
  margin-top: 64px;
}

.query:hover {
  cursor: pointer;
}

.date {
  font-size: small;
  margin-right: 16px;
  width: 120px;
}

.list {
  width: 100%;
}
