<div class="search-history-container">

  <smd-fab-speed-dial class="filter"
                      [(open)]="open"
                      [direction]="direction"
                      [animationMode]="animationMode"
                      [fixed]="fixed">

    <smd-fab-trigger [spin]="spin">
      <button mat-fab>
        <mat-icon>apps</mat-icon>
      </button>
    </smd-fab-trigger>

    <smd-fab-actions>
      <button mat-mini-fab matTooltip="Clear history" matTooltipPosition="above"(click)="deleteAll()">
        <mat-icon>delete</mat-icon>
      </button>
    </smd-fab-actions>

  </smd-fab-speed-dial>

  <h3 class="mat-h3" align="center" *ngIf="nResults == 0">
    No history available.
  </h3>

  <mat-card fxFlex class="container" *ngFor="let date of dates; let i = index" [attr.data-index]="i">

    <mat-list class="list">

      <h1 class="mat-subheader">
        {{formatDate(date)}}
      </h1>

      <mat-list-item *ngFor="let sr of resultsByDate[i]">

        <mat-checkbox color="primary" (change)="sr['checked'] = !sr['checked']"></mat-checkbox>

        <span class="hour">
          {{getTime(sr.date)}}
        </span>

        <span class="query" (click)="goToSearchForm(sr)">
          {{sr.freeText}}
        </span>

      </mat-list-item>

    </mat-list>

  </mat-card>



</div>
