<md-progress-bar  mode="indeterminate"  *ngIf="submitted"></md-progress-bar>
<div align="center">
 <div *ngIf="nResults > 0"><button class="delete" md-icon-button (click)="deleteAllByUser()"><md-icon>delete</md-icon>Delete All Bookmarks</button></div>
 <h3 *ngIf="nResults == 0">No bookmarks available.</h3>
</div>
<div class="container">
  <div class="container-sidebar">
    <md-card class="sidebar" [style.left.px]="sidebar(-170)">
      <button [style.left.px]="sidebar(170)" md-icon-button class="subfilter_button" (click)="showSidebar = !showSidebar;" *ngIf="!showSidebar"><md-icon class="close_icon">tune</md-icon></button>
      <button class="close_button" md-icon-button (click)="showSidebar = !showSidebar;"><md-icon>close</md-icon></button>
      <md-list>
        <p class="label">Types</p>
        <md-list-item class="list-item">
          <md-checkbox [(ngModel)]="videofilter" [checked]="videofilter">Video<i class="nitem">({{VideoResult}})</i></md-checkbox>
        </md-list-item>
        <md-list-item class="list-item">
          <md-checkbox [(ngModel)]="audiofilter" [checked]="audiofilter">Audio<i class="nitem">({{AudioResult}})</i></md-checkbox>
        </md-list-item>
        <md-list-item class="list-item">
          <md-checkbox [(ngModel)]="textfilter" [checked]="textfilter">Text<i class="nitem">({{TextResult}})</i></md-checkbox>
        </md-list-item>
        <md-list-item class="list-item">
          <md-checkbox [(ngModel)]="imagefilter" [checked]="imagefilter">Image<i class="nitem">({{ImageResult}})</i></md-checkbox>
        </md-list-item>
        <p class="label">Repositories</p>
        <md-list-item class="list-item" *ngFor="let item of activeRepositories">
          <md-checkbox [(ngModel)]="item.enabled" [checked]="item.enabled">{{item.name}}<i class="nitem">({{item.count}})</i></md-checkbox>
        </md-list-item>
      </md-list>
    </md-card>
  </div>



  <div  fxFlex>
<div class="container-card"  fxflex>
     <div class="sub_container-card" *ngFor="let item of bookmarks">
       <div *ngIf="filter(item.multimediaContent)">
        <md-card class="card">
           <div *ngIf="item.multimediaContent.thumbnail; else defaultimg" class="image-card">
              <img md-card-image  src="{{item.multimediaContent.thumbnail}}" (click)="openDialog(item.multimediaContent)">
          </div>
          <ng-template #defaultimg>
            <div class="image-card">
                <img md-card-image src="../assets/images/logo_producer_511x103.jpg"  (click)="openDialog(item.multimediaContent)">
            </div>
          </ng-template>
          <md-card-content class="content-card">
             <div fxLayout="row">
                <div fxLayout="column" >
                     <div [ngSwitch]="item.multimediaContent.type">
                        <div *ngSwitchCase="'video'"><button md-icon-button><md-icon>videocam</md-icon></button></div>
                        <div *ngSwitchCase="'image'"><button md-icon-button><md-icon>photo</md-icon></button></div>
                        <div *ngSwitchCase="'audio'"><button md-icon-button><md-icon>audiotrack</md-icon></button></div>
                        <div *ngSwitchCase="'text'"><button md-icon-button><md-icon>textsms</md-icon></button></div>
                     </div>
                        <button md-icon-button mdTooltip="Delete Bookmark" (click)="removeBookmark(item.id)"><md-icon>star</md-icon></button>
                        <button md-icon-button mdTooltip="Click for more info."  (click)="openDialog(item.multimediaContent)"><md-icon>info</md-icon></button>
                </div>
                <div class="detail-card" fxLayout="column" >
                  <div class="title-card"><b>Title:</b>{{item.multimediaContent.name}}</div>
                 <!-- <div class="description"><b>Description:</b>{{sr.description}}</div>-->
                  <div class="source-card"><b>Source:</b>{{item.multimediaContent.source.name}}</div>
                  <div class="date-card"><b>Date:</b>{{getDate(item.multimediaContent.date)}}</div>
                </div>
            </div>
          </md-card-content>
        </md-card>
       </div>
      </div>
    </div>
  </div>
</div>
