<div class="container-sidebar">
  <app-filterbar [activeType]="activeType" [activeRepositories]="activeRepositories" [showSidebar]="showSidebar" (toggle)=setSidebar($event)></app-filterbar>
</div>
<div fxFlex>
  <div class="container"> <h3 align="center" *ngIf="nResults == 0">No bookmarks available.</h3></div>
  <div class="container-card">
    <mat-progress-bar mode="indeterminate" *ngIf="submitted"></mat-progress-bar>
   
    <smd-fab-speed-dial class="filter" [(open)]="open" [direction]="direction" [animationMode]="animationMode" [fixed]="fixed">
        <smd-fab-trigger [spin]="spin">
            <button mat-fab><mat-icon>apps</mat-icon></button>
        </smd-fab-trigger>
        <smd-fab-actions>
            <button mat-mini-fab  matTooltip="Filter" matTooltipPosition="above" (click)="showSidebar = !showSidebar;" *ngIf="!showSidebar"><mat-icon>tune</mat-icon></button>
            <button mat-mini-fab  matTooltip="Delete All Bookmarks" matTooltipPosition="above" (click)="deleteAllByUser()"><mat-icon>delete</mat-icon></button>
          </smd-fab-actions>
    </smd-fab-speed-dial>
    <div class="sub_container-card" *ngFor="let item of bookmarks">
      <div *ngIf="filter(item.multimediaContent)">
        <mat-card class="card">
          <div class="image-card">
            <img mat-card-image [src]="getImage(item.multimediaContent)" (click)="openDialog(item.multimediaContent)">
            <div class="bar">
              <div [ngSwitch]="item.multimediaContent.type" class="type">
                <div *ngSwitchCase="'video'">
                  <mat-icon>videocam</mat-icon>
                </div>
                <div *ngSwitchCase="'image'">
                  <mat-icon>photo</mat-icon>
                </div>
                <div *ngSwitchCase="'audio'">
                  <mat-icon>audiotrack</mat-icon>
                </div>
                <div *ngSwitchCase="'text'">
                  <mat-icon>textsms</mat-icon>
                </div>
              </div>
              <div (click)="openDialog(item.multimediaContent)" class="title" [matTooltip]="item.multimediaContent.name">{{item.multimediaContent.name}}</div>
              <button class="del" mat-icon-button matTooltip="Delete Bookmark" (click)="removeBookmark(item.id)"><mat-icon>cancel</mat-icon></button>
              <!--<button class="info" mat-icon-button matTooltip="Click for more info." (click)="openDialog(sr)"><mat-icon>info</mat-icon></button>-->
            </div>
          </div>
          <mat-card-content class="content-card">
            <div class="detail-card" fxLayout="column">
              <div class="description">{{item.multimediaContent.description}}</div>
              <div><img class="logo-card" src="../assets/ui/assets/images/{{item.multimediaContent.source.name}}.png" /></div>
              <div class="date-card">{{getDate(item.multimediaContent.date)}}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
