<div class="semantic-search">
  <mat-card fxLayout="column">
    <form [formGroup]="form"
          (submit)="onSubmit(form.value)">

      <mat-card-title>Don't know what you are looking for?</mat-card-title>
      <mat-card-subtitle>Enter a URL or upload a document, and let us find some keywords for you!</mat-card-subtitle>

      <div fxLayout="row" fxLayoutAlign="space-between center">

        <mat-form-field fxFlex="grow">
          <input matInput
                 type="text"
                 placeholder="Your URL"
                 name="url"
                 [formControl]="form.controls['url']"
                 ngModel>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit">
          SUBMIT
        </button>

      </div>

      <!--<mat-card-content>or</mat-card-content>-->
      <!--<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">-->

    </form>

    <mat-chip-list>
        <mat-chip *ngFor="let annotation of this.orderedAnn"
                  (click)="searchForAnnot(annotation)"
                  class="badge"
                  color="primary"
                  selected="true">
          {{annotation}}
        </mat-chip>
    </mat-chip-list>

  </mat-card>
</div>
