.annotations-list {
  width: inherit;
}

.badge {
  margin-left: 8px;
}

.badge:hover {
  cursor: pointer;
}

.mat-form-field {
  padding-right: 16px;
}

.semantic-search {
  width: 38vw;
}

.semantic-search > * {
  width: 100%;
}
