.semantic-search {
  display: flex;
  flex-direction: column;
}

.semantic-search > * {
  width: 100%;
}

.mat-form-field {
  padding-right: 16px;
}

.badge:hover {
  cursor: pointer;
}

.badge {
  margin-left: 8px;
}
