<!--nav *ngIf="checkPage()" class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand nav-brand-pers" routerLink="/dashboard">
										<b><span class="cou-txt"><img src='assets/images/beer.png'> </span><span class="spacer"></span><span class="cou-txt">OCD</span></b></a>
			</div>
			<ul class="nav navbar-top-links navbar-right">
					<div *ngIf="isLoggedIn() || getLoggedUser()">
								<div class="logout-info showhide">
									<app-loggedin></app-loggedin>
						</div>
			</div>
	</ul>
	
	<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse collapse" id="left-placeholder">
						<div *ngIf="isLoggedIn() || getLoggedUser()">
								<left-placeholder></left-placeholder>
					</div>
			</div>
	</div>
</nav-->
<nav *ngIf="isLoggedIn()" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">OCD</a>
		</div>
		<div class="nav navbar-nav">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Library</a></li>
			<li class="active">Data</li>
		</ol>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span class="spacer"></span>{{getLoggedUser()}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li><a href="#">Settings</a></li>
						<li role="separator" class="divider"></li>
						<li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<left-placeholder></left-placeholder>