<div align="center">
 <md-card class="card">
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      
    <div fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="5px" >
                <h3>Register</h3>
                <md-input-container  fxFlex> 
                <input mdInput placeholder="First Name" value="" id="firstname" name="firstname" [(ngModel)]="model.firstName" #firstName="ngModel" required >
                </md-input-container>
                <md-input-container  fxFlex> 
                <input mdInput placeholder="Last Name" value="" id="lastname" name="lastname" [(ngModel)]="model.lastName" #lastName="ngModel" required >
                </md-input-container>
                <md-input-container  fxFlex> 
                <input mdInput placeholder="email" value="" id="email" name="email" [(ngModel)]="model.email"  #email="ngModel">
                </md-input-container>
                <md-input-container  fxFlex> 
                <input mdInput placeholder="Username" value="" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                </md-input-container>
                <md-input-container  fxFlex> 
                <input mdInput placeholder="Password" type="password" value="" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                </md-input-container>
       
        <div align="end">
         <button md-raised-button  type="submit" >Register</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
         <button md-raised-button [routerLink]="['/login']">Cancel</button>  
        </div>
      
       </div>
       </form>
       </md-card>
</div>