<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
  <div class="container">
    <h1 align="center" class="mat-h1">
      Repositories
    </h1>
    <mat-divider></mat-divider>
    <!-- repositories-nav-list class make this list scrollable -->
    <mat-nav-list role="list" class="repositories-nav-list">
      <mat-list-item role="listitem" (click)="update(ur)" *ngFor="let ur of userRepositories">

        <!-- metto il toggle in un chip per evitare che che al click sul toggle
        venga chiamato sia update dell'elemento, sia toggle.
        non ho trovato un modo pulito per farlo  -->
        <mat-chip-list>
          <mat-chip class="chip-container" (click)="toggle(ur)">
            <mat-slide-toggle [checked]="ur.enabled"></mat-slide-toggle>
          </mat-chip>
        </mat-chip-list>
        <div class="name">{{ur.repository}}</div>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="warn" (click)="delete(ur)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>

  </div>
  <button mat-fab color="accent" matTooltip="Add registration" (click)="create()">
    <mat-icon>add circle</mat-icon>
  </button>
</div>