.card {
    /*display:inline-block;
    display: inline-table;*/
    display:flow-root;
    width: 175px;
    height: 100%;
    margin: 3px;
   /* vertical-align: top;
    cursor: pointer;
    overflow: visible; */
}

.image-card {
    max-height: 165px;
}

.title-card {
    font-size: 100%;
 
}


.filter{
  position: fixed;
}


.container-card {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

.typefield {
    margin-top: 16px;
}