.example-card {
  display: inline-block;
  width: 300px;
  margin-bottom: 20%;

}

.grid-tile {

 
}

.image-card {

width: 300px;

}

.title-card {

font-size: 100%;
}


.content-card {

}

.filter{
  
}

.sidebar{

}