

  <div class="app-content">
  <md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>MENU</md-icon>
  </button>
  </md-toolbar>

<md-sidenav-container>
<md-sidenav #sidenav mode="side" opened="false">
    <md-list>
  <md-list-item>Item 1</md-list-item>
  <md-list-item>Item 2</md-list-item>
  <md-list-item>Item 3</md-list-item>
</md-list>
  </md-sidenav>


<h2>Search Multimedia Content</h2>

<form class="example-form">

  <table cellspacing="0">
      <tr>
        <td>
            <md-input-container class="example-full-width">
               <input mdInput placeholder="Keywords" value="1">
            </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
            <md-input-container class="example-full-width">
               <textarea  rows="4" cols="50"  mdInput placeholder="Free Text"> 2 </textarea>
            </md-input-container>
        </td>
      </tr>   
      <tr>
        <td>
            <md-input-container class="example-full-width">
               <input mdInput placeholder="Semantic Search">
            </md-input-container>
        </td>
      </tr> 
      <tr>
        <td>
            <md-select placeholder="Type">
              <md-option *ngFor="let type of types" [value]="type">
                {{ type }}
              </md-option>
            </md-select>
        </td>
      </tr>   
      <tr>
        <td>
          <md-input-container>
            <input mdInput [mdDatepicker]="startdate" placeholder="Initial Date">
            <button mdSuffix [mdDatepickerToggle]="startdate"></button>
          </md-input-container>
          <md-datepicker #startdate></md-datepicker>
        </td>
      </tr> 
      <tr>
        <td>
          <md-input-container>
            <input mdInput [mdDatepicker]="enddate" placeholder="End Date">
            <button mdSuffix [mdDatepickerToggle]="enddate"></button>
          </md-input-container>
          <md-datepicker #enddate></md-datepicker>
        </td>
      </tr>       
        <a md-raised-button routerLink=".">Search</a>      
     



</table>
</form>


</md-sidenav-container>
  

  </div>






<!--   


     <md-card>
      <md-tab-group>
        <md-tab label="Earth">
          <p>EARTH</p>
        </md-tab>
        <md-tab label="Fire">
          <p>FIRE</p>
        </md-tab>
      </md-tab-group>
    </md-card>

    <md-card>
      <button md-button [md-menu-trigger-for]="menu">
        MENU
      </button>
    </md-card>

    <md-menu #menu="mdMenu">
      <button md-menu-item>Lemon</button>
      <button md-menu-item>Lime</button>
      <button md-menu-item>Banana</button>
    </md-menu> -->



    <md-card>
  <md-card-header>
    <md-card-title>Search Multimedia Content</md-card-title>
    <md-card-subtitle>{{diagnostic}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    
   <form class="example-form" (ngSubmit)="onSubmit()" #qForm="ngForm">


            <md-input-container class="example-full-width">
               <input mdInput placeholder="Keywords" value="1" id="keywords" [(ngModel)]="searchForm.keyWords" name="keyWords" #spy>
            </md-input-container>
            <br><p>TODO: remove this: {{spy.className}}</p>

            <md-input-container class="example-full-width">
               <textarea  mdInput placeholder="Free Text" id="freeText" [(ngModel)]="searchForm.freeText"
                      name="freeText"> 2 </textarea>
            </md-input-container>

            <md-input-container class="example-full-width">
               <input mdInput placeholder="Semantic Search" id="semanticSearch" [(ngModel)]="searchForm.semanticSearch"
                   name="semanticSearch">
            </md-input-container>

            <md-select placeholder="Type"  id="type" [(ngModel)]="searchForm.type" name="type">
              <md-option *ngFor="let type of types" [value]="type">
                {{ type }}
              </md-option>
            </md-select>

          <md-input-container>
            <input mdInput [mdDatepicker]="startdate" placeholder="Initial Date" id="InDate" [(ngModel)]="searchForm.inDate"
                   name="inDate">
            <button mdSuffix [mdDatepickerToggle]="startdate"></button>
          </md-input-container>
          <md-datepicker #startdate></md-datepicker>

          <md-input-container>
            <input mdInput [mdDatepicker]="enddate" placeholder="End Date" id="EndDate" [(ngModel)]="searchForm.endDate"
                   name="endDate">
            <button mdSuffix [mdDatepickerToggle]="enddate"></button>
          </md-input-container>
          <md-datepicker #enddate></md-datepicker>

      <button md-raised-button  type="submit" [disabled]="!qForm.form.valid">Search</button>     


</form>

  </md-card-content>
  <md-card-actions>
    
  </md-card-actions>
</md-card>


<md-card>
  <md-card-header>
    <md-card-title>Results</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <md-card-content>


  </md-card-content>

</md-card>

