

<div class="container">
  <div class="item item-1" fxLayoutAlign="start start" fxFlex="20%" fxflex>

<md-card class="filter">
  <md-card-content>
    <h2 class="example-h2">Filter</h2>
<md-list>
  <md-list-item> <md-checkbox [(ngModel)]="videofilter" [checked]="videofilter">Video</md-checkbox><p *ngIf="searchVideoResult">({{searchVideoResult.length}})</p></md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="audiofilter" [checked]="audiofilter">Audio</md-checkbox><p *ngIf="searchAudioResult">({{searchAudioResult.length}})</p></md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="textfilter"  [checked]="textfilter">Text</md-checkbox><p *ngIf="searchTextResult"> ({{searchTextResult.length}})</p></md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="imagefilter" [checked]="imagefilter">Image</md-checkbox><p *ngIf="searchImgResult">({{searchImgResult.length}})</p></md-list-item>
</md-list>   
  </md-card-content>
</md-card>
  </div>
  <div class="item item-2"  fxFlex="80%">
  <md-card>
    <md-card-header>
      <md-card-title>Search Multimedia Content</md-card-title>
    </md-card-header>
    <md-card-content>
  
  <form class="example-form" (ngSubmit)="onSubmit()" #qForm="ngForm">
    <div  fxLayoutAlign="start none" fxLayoutGap="5px" >
       <md-input-container  > 
        <input mdInput placeholder="Are you searching for" value="1" id="freetext" [(ngModel)]="searchForm.freetext" name="freetext" #spy>
        </md-input-container>
         
    </div>
    <div fxLayout="row">
     <md-card>
      <div fxLayoutAlign="end start"> 

          <md-select placeholder="Type"  id="type" [(ngModel)]="searchForm.type" name="type" fxFlex="30%" fxFlexOffset="2">
              <md-option *ngFor="let type of types" [value]="type">
                {{ type }}
              </md-option>
          </md-select>
  
          <md-input-container fxFlex="30%" fxFlexOffset="2">
            <input mdInput [mdDatepicker]="startdate" placeholder="Initial Date" id="InDate" [(ngModel)]="searchForm.inDate"
                   name="inDate">
            <button mdSuffix [mdDatepickerToggle]="startdate"></button>
          </md-input-container>
          <md-datepicker #startdate></md-datepicker>
    
          <md-input-container fxFlex="30%" fxFlexOffset="2">
            <input mdInput [mdDatepicker]="enddate" placeholder="End Date" id="EndDate" [(ngModel)]="searchForm.endDate"
                   name="endDate">
            <button mdSuffix [mdDatepickerToggle]="enddate"></button>
          </md-input-container>
          <md-datepicker #enddate></md-datepicker>

      </div>
  </md-card>
    </div>
    
    <br>
 <button md-raised-button  type="submit" [disabled]="!qForm.form.valid">Search</button> 
</form>

  </md-card-content>
</md-card>





<md-card >
<md-grid-list cols="5" gutterSize="1px"  fxLayoutAlign="start none"  >
 <div *ngIf="videofilter">
    <div *ngFor="let sr of searchVideoResult">
      <md-grid-tile class="grid-tile" > 
      <md-card class="example-card" >
    <img class="image-card" [src]="sr.thumbnail">
    <md-card-title class="title-card">{{sr.name}}</md-card-title>
    <md-card-content class="content-card">
      <span>type:{{sr.type}}</span>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button>STAR</button>
      <app-dialog-detail [multimediaContent]="sr"></app-dialog-detail>
    </md-card-actions>
  </md-card>
  </md-grid-tile> 
    </div>
 </div>
 <div *ngIf="audiofilter">
  <div  *ngFor="let sr of searchAudioResult">
   <md-grid-tile class="grid-tile" > 
     <md-card class="example-card" >
    <img class="image-card" [src]="sr.thumbnail">
    <md-card-title class="title-card">{{sr.name}}</md-card-title>
    <md-card-content class="content-card">
      <span>type:{{sr.type}}</span>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button>STAR</button>
      <app-dialog-detail [multimediaContent]="sr"></app-dialog-detail>
    </md-card-actions>
  </md-card>
  </md-grid-tile> 
    </div>
  </div>

   <div *ngIf="textfilter">
  <div  *ngFor="let sr of searchtextResult">
   <md-grid-tile class="grid-tile" > 
     <md-card class="example-card" >
    <img class="image-card" [src]="sr.thumbnail">
    <md-card-title class="title-card">{{sr.name}}</md-card-title>
    <md-card-content class="content-card">
      <span>type:{{sr.type}}</span>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button>STAR</button>
      <app-dialog-detail [multimediaContent]="sr"></app-dialog-detail>
    </md-card-actions>
  </md-card>
  </md-grid-tile> 
    </div>
  </div>

 <div *ngIf="imagefilter">
  <div  *ngFor="let sr of searchImgResult">
   <md-grid-tile class="grid-tile" > 
     <md-card class="example-card" >
    <img class="image-card" [src]="sr.thumbnail">
    <md-card-title class="title-card">{{sr.name}}</md-card-title>
    <md-card-content class="content-card">
      <span>type:{{sr.type}}</span>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button>STAR</button>
      <app-dialog-detail [multimediaContent]="sr"></app-dialog-detail>
    </md-card-actions>
  </md-card>
  </md-grid-tile> 
    </div>
  </div>


</md-grid-list>
</md-card>
  </div>
  
</div>
