<mat-dialog-content class="dialog-content">

  <mat-card-header>

    <mat-form-field class="title">

      <input matInput [(ngModel)]="data.name" [disabled]="isDisabled()">

      <mat-icon matSuffix
                matTooltip="Edit Title"
                (click)="toggle()"
                class="edit-title-icon">
        mode_edit
      </mat-icon>

    </mat-form-field>

    <mat-icon matTooltip="Save Bookmark"
              matTooltipPosition="above"
              (click)="checkSaveBookmark(data)"
              id="({{data.uri}})"
              class="bookmark-icon"
              fxFlexAlign="center">
      {{stateBookmark(data)}}
    </mat-icon>

  </mat-card-header>

  <div [ngSwitch]="data.type">
    <div *ngSwitchCase="'video'">
      <div *ngIf="data.source.name == 'InternetArchive'; else defaultvideo">
        <video id="video" width="100%" autoplay controls onerror="alert('first error event')">
          <source [src]="data.downloadURI" [type]="data.fileExtension">
          <!-- <source [src]="data.downloadUri" [type]="data.fileExtension"> -->
          Your browser does not support the video tag.
        </video>
      </div>
      <ng-template #defaultvideo>
        <iframe width="100%" [src]="data.downloadURI | safe" frameborder="0" allowfullscreen></iframe>
      </ng-template>
    </div>
    <div *ngSwitchCase="'image'">
      <div *ngIf="data.downloadURI; else defaultimg">
        <img width="100%" height="250px" [src]="data.downloadURI" class="image-card">
      </div>
      <ng-template #defaultimg>
        <img width="100%" height="250px" src="/assets/images/logo_producer_511x103.jpg" class="image-card">
      </ng-template>
    </div>
    <div *ngSwitchCase="'audio'">
      <audio id="audio" controls>
        <source [src]="data.downloadURI" [type]="data.fileExtension"> Your browser does not support the audio element.
      </audio>
    </div>
    <div *ngSwitchCase="'text'">
    </div>
  </div>

  <div fxLayout="column">
    <mat-card-content>
      <div class="description">{{data.description}}</div>
    </mat-card-content>

    <mat-chip-list fxLayout="row">

      <mat-chip *ngFor="let tag of data.metadata" class="badge">
        {{tag}}
        <mat-icon class="removeTag" (click)="removeTag(data,tag)">clear</mat-icon>
      </mat-chip>

    </mat-chip-list>

    <mat-form-field class="newtag">
      <input #newtag matInput id="newtag" placeholder="insert Tag" value="" (keyup.enter)="saveTag(data, newtag.value)">
    </mat-form-field>
    <mat-progress-spinner *ngIf="!formats && data.source.name === 'InternetArchive'" mode="indeterminate" color="warn" [strokeWidth]="1" [diameter]="32"></mat-progress-spinner>
    <mat-form-field class="formats" *ngIf="formats" floatPlaceholder="never">
      <mat-select placeholder="select format"  [(ngModel)]="selectedFormat" (ngModelChange)="onChange($event)">
        <mat-option *ngFor="let file of formats" [value]="file.name">
          {{getExt(file.name)}} ({{getMB(file.size)}}MB)
        </mat-option>
      </mat-select>
    </mat-form-field >
  </div>

</mat-dialog-content>

<mat-card-actions align="end">
  <a class="logo" [href]="data.uri"><img src="/assets/images/{{data.source.name}}.png"/></a>
  <a class="logo" [href]="data.uri"><img src="/assets/images/{{data.source.name}}.png"/></a>
  <mat-progress-spinner *ngIf="loading" mode="indeterminate" color="warn" [strokeWidth]="1" [diameter]="32"></mat-progress-spinner>
  <button mat-button *ngIf="selectedFormat !== ''" (click)="sendMcssr(data)">Send to MCSSR</button>
  <button mat-button matDialogClose>Close</button>
</mat-card-actions>
