<md-card>
  <md-card-header>
    <md-card-title><h2>{{data.name}}</h2></md-card-title>
  </md-card-header>

<div  *ngIf="data.fileExtension == 'video/mp4'; else defaultvideo">
    <div *ngIf="loaderror; else defaultimg">
        <video id="video" width="100%" height="250px" autoplay controls>
          <source [src]="getVideoSource(data.downloadURI)" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
      <ng-template #defaultimg>
          <iframe width="100%" height="250px" [src]="getVideoSource(data.uri)"></iframe>
      </ng-template>
</div>
<ng-template #defaultvideo>
       <iframe width="100%" height="250px" [src]="getVideoSource(data.uri)"></iframe>
</ng-template>


<div *ngIf="data.type == 'image'" >
  <img width="100%" height="250px" [src]="data.uri" class="image-card">
</div>
  <md-card-content>
<div fxLayout="column" fxLayoutAlign="space-around none" fxFlexOffset="2">
    <div><h5>{{data.description}}</h5></div>
    <div><h6>Repository:{{data.source.name}} - Date:{{getDate(data.date)}}</h6></div>
</div>
  </md-card-content>
   <md-card-actions align="end">
    <button md-button>Send to MCSSR</button>
    <button md-button  [md-dialog-close]="true">Close</button>
  </md-card-actions>
</md-card>
